body, .gistContent {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #c9d1d9;
  background-color: #0d1117;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.gistContent .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.gistContent h1:hover .anchor .octicon-link:before,
.gistContent h2:hover .anchor .octicon-link:before,
.gistContent h3:hover .anchor .octicon-link:before,
.gistContent h4:hover .anchor .octicon-link:before,
.gistContent h5:hover .anchor .octicon-link:before,
.gistContent h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.gistContent details,
.gistContent figcaption,
.gistContent figure {
  display: block;
}

.gistContent summary {
  display: list-item;
}

.gistContent [hidden] {
  display: none !important;
}

.gistContent a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.gistContent a:active,
.gistContent a:hover {
  outline-width: 0;
}

.gistContent abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.gistContent b,
.gistContent strong {
  font-weight: 600;
}

.gistContent dfn {
  font-style: italic;
}

.gistContent h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

.gistContent mark {
  background-color: rgba(187,128,9,0.15);
  color: #c9d1d9;
}

.gistContent small {
  font-size: 90%;
}

.gistContent sub,
.gistContent sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.gistContent sub {
  bottom: -0.25em;
}

.gistContent sup {
  top: -0.5em;
}

.gistContent img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

.gistContent code,
.gistContent kbd,
.gistContent pre,
.gistContent samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.gistContent figure {
  margin: 1em 40px;
}

.gistContent hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.gistContent input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.gistContent [type=button],
.gistContent [type=reset],
.gistContent [type=submit] {
  -webkit-appearance: button;
}

.gistContent [type=button]::-moz-focus-inner,
.gistContent [type=reset]::-moz-focus-inner,
.gistContent [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.gistContent [type=button]:-moz-focusring,
.gistContent [type=reset]:-moz-focusring,
.gistContent [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.gistContent [type=checkbox],
.gistContent [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.gistContent [type=number]::-webkit-inner-spin-button,
.gistContent [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.gistContent [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.gistContent [type=search]::-webkit-search-cancel-button,
.gistContent [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.gistContent ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.gistContent ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.gistContent a:hover {
  text-decoration: underline;
}

.gistContent hr::before {
  display: table;
  content: "";
}

.gistContent hr::after {
  display: table;
  clear: both;
  content: "";
}

.gistContent table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.gistContent td,
.gistContent th {
  padding: 0;
}

.gistContent details summary {
  cursor: pointer;
}

.gistContent details:not([open])>*:not(summary) {
  display: none !important;
}

.gistContent kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110,118,129,0.4);
  border-bottom-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110,118,129,0.4);
}

.gistContent h1,
.gistContent h2,
.gistContent h3,
.gistContent h4,
.gistContent h5,
.gistContent h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.gistContent h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

.gistContent h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.gistContent h4 {
  font-weight: 600;
  font-size: 1em;
}

.gistContent h5 {
  font-weight: 600;
  font-size: .875em;
}

.gistContent h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

.gistContent p {
  margin-top: 0;
  margin-bottom: 10px;
}

.gistContent blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

.gistContent ul,
.gistContent ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.gistContent ol ol,
.gistContent ul ol {
  list-style-type: lower-roman;
}

.gistContent ul ul ol,
.gistContent ul ol ol,
.gistContent ol ul ol,
.gistContent ol ol ol {
  list-style-type: lower-alpha;
}

.gistContent dd {
  margin-left: 0;
}

.gistContent tt,
.gistContent code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.gistContent pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.gistContent .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.gistContent ::placeholder {
  color: #484f58;
  opacity: 1;
}

.gistContent input::-webkit-outer-spin-button,
.gistContent input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.gistContent .pl-c {
  color: #8b949e;
}

.gistContent .pl-c1,
.gistContent .pl-s .pl-v {
  color: #79c0ff;
}

.gistContent .pl-e,
.gistContent .pl-en {
  color: #d2a8ff;
}

.gistContent .pl-smi,
.gistContent .pl-s .pl-s1 {
  color: #c9d1d9;
}

.gistContent .pl-ent {
  color: #7ee787;
}

.gistContent .pl-k {
  color: #ff7b72;
}

.gistContent .pl-s,
.gistContent .pl-pds,
.gistContent .pl-s .pl-pse .pl-s1,
.gistContent .pl-sr,
.gistContent .pl-sr .pl-cce,
.gistContent .pl-sr .pl-sre,
.gistContent .pl-sr .pl-sra {
  color: #a5d6ff;
}

.gistContent .pl-v,
.gistContent .pl-smw {
  color: #ffa657;
}

.gistContent .pl-bu {
  color: #f85149;
}

.gistContent .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.gistContent .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.gistContent .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.gistContent .pl-ml {
  color: #f2cc60;
}

.gistContent .pl-mh,
.gistContent .pl-mh .pl-en,
.gistContent .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.gistContent .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.gistContent .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.gistContent .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.gistContent .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.gistContent .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.gistContent .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.gistContent .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.gistContent .pl-ba {
  color: #8b949e;
}

.gistContent .pl-sg {
  color: #484f58;
}

.gistContent .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

.gistContent [data-catalyst] {
  display: block;
}

.gistContent g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.gistContent g-emoji img {
  width: 1em;
  height: 1em;
}

.gistContent::before {
  display: table;
  content: "";
}

.gistContent::after {
  display: table;
  clear: both;
  content: "";
}

.gistContent>*:first-child {
  margin-top: 0 !important;
}

.gistContent>*:last-child {
  margin-bottom: 0 !important;
}

.gistContent a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.gistContent .absent {
  color: #f85149;
}

.gistContent .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.gistContent .anchor:focus {
  outline: none;
}

.gistContent p,
.gistContent blockquote,
.gistContent ul,
.gistContent ol,
.gistContent dl,
.gistContent table,
.gistContent pre,
.gistContent details {
  margin-top: 0;
  margin-bottom: 16px;
}

.gistContent blockquote>:first-child {
  margin-top: 0;
}

.gistContent blockquote>:last-child {
  margin-bottom: 0;
}

.gistContent sup>a::before {
  content: "[";
}

.gistContent sup>a::after {
  content: "]";
}

.gistContent h1 .octicon-link,
.gistContent h2 .octicon-link,
.gistContent h3 .octicon-link,
.gistContent h4 .octicon-link,
.gistContent h5 .octicon-link,
.gistContent h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.gistContent h1:hover .anchor,
.gistContent h2:hover .anchor,
.gistContent h3:hover .anchor,
.gistContent h4:hover .anchor,
.gistContent h5:hover .anchor,
.gistContent h6:hover .anchor {
  text-decoration: none;
}

.gistContent h1:hover .anchor .octicon-link,
.gistContent h2:hover .anchor .octicon-link,
.gistContent h3:hover .anchor .octicon-link,
.gistContent h4:hover .anchor .octicon-link,
.gistContent h5:hover .anchor .octicon-link,
.gistContent h6:hover .anchor .octicon-link {
  visibility: visible;
}

.gistContent h1 tt,
.gistContent h1 code,
.gistContent h2 tt,
.gistContent h2 code,
.gistContent h3 tt,
.gistContent h3 code,
.gistContent h4 tt,
.gistContent h4 code,
.gistContent h5 tt,
.gistContent h5 code,
.gistContent h6 tt,
.gistContent h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.gistContent ul.no-list,
.gistContent ol.no-list {
  padding: 0;
  list-style-type: none;
}

.gistContent ol[type="1"] {
  list-style-type: decimal;
}

.gistContent ol[type=a] {
  list-style-type: lower-alpha;
}

.gistContent ol[type=i] {
  list-style-type: lower-roman;
}

.gistContent div>ol:not([type]) {
  list-style-type: decimal;
}

.gistContent ul ul,
.gistContent ul ol,
.gistContent ol ol,
.gistContent ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.gistContent li>p {
  margin-top: 16px;
}

.gistContent li+li {
  margin-top: .25em;
}

.gistContent dl {
  padding: 0;
}

.gistContent dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.gistContent dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.gistContent table th {
  font-weight: 600;
}

.gistContent table th,
.gistContent table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.gistContent table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.gistContent table tr:nth-child(2n) {
  background-color: #161b22;
}

.gistContent table img {
  background-color: transparent;
}

.gistContent img[align=right] {
  padding-left: 20px;
}

.gistContent img[align=left] {
  padding-right: 20px;
}

.gistContent .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.gistContent span.frame {
  display: block;
  overflow: hidden;
}

.gistContent span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.gistContent span.frame span img {
  display: block;
  float: left;
}

.gistContent span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.gistContent span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.gistContent span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.gistContent span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.gistContent span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.gistContent span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.gistContent span.align-right span img {
  margin: 0;
  text-align: right;
}

.gistContent span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.gistContent span.float-left span {
  margin: 13px 0 0;
}

.gistContent span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.gistContent span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.gistContent code,
.gistContent tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

.gistContent code br,
.gistContent tt br {
  display: none;
}

.gistContent del code {
  text-decoration: inherit;
}

.gistContent pre code {
  font-size: 100%;
}

.gistContent pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.gistContent .highlight {
  margin-bottom: 16px;
}

.gistContent .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.gistContent .highlight pre,
.gistContent pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.gistContent pre code,
.gistContent pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.gistContent .csv-data td,
.gistContent .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.gistContent .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.gistContent .csv-data tr {
  border-top: 0;
}

.gistContent .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.gistContent .footnotes {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

.gistContent .footnotes ol {
  padding-left: 16px;
}

.gistContent .footnotes li {
  position: relative;
}

.gistContent .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.gistContent .footnotes li:target {
  color: #c9d1d9;
}

.gistContent .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.gistContent .task-list-item {
  list-style-type: none;
}

.gistContent .task-list-item label {
  font-weight: 400;
}

.gistContent .task-list-item.enabled label {
  cursor: pointer;
}

.gistContent .task-list-item+.task-list-item {
  margin-top: 3px;
}

.gistContent .task-list-item .handle {
  display: none;
}

.gistContent .task-list-item-checkbox {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.gistContent .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.gistContent ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
